
.invoice{
    background-color: rgb(21, 146, 83);
    height: 80px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    div h5{
        color:white;
        font-size: 30px;
        font-weight: bolder;
        white-space: nowrap;

    }
    p{
        color:white;
       font-size: 15px;
    }
}

.fee{
    background-color: rgb(20, 150, 201);
    height: 80px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    div h5{
        color:white;
        font-size: 30px;
        font-weight: bolder;
        white-space: nowrap;

    }
    p{
        color:white;
       font-size: 15px;
    }
}

.subject{
    background-color: rgb(199, 88, 221);
    height: 80px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    div h5{
        color:white;
        font-size: 30px;
        font-weight: bolder;
        white-space: nowrap;

    }
    p{
        color:white;
       font-size: 15px;
    }
}
.teacher{
    background-color: rgb(231, 65, 162);
    height: 80px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    div h5{
        color:white;
        font-size: 30px;
        font-weight: bolder;
        white-space: nowrap;

    }
    p{
        color:white;
       font-size: 15px;
    }
}
.parent{
    background-color: rgb(204, 185, 15);
    height: 80px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    div h5{
        color:white;
        font-size: 30px;
        font-weight: bolder;
        white-space: nowrap;

    }
    p{
        color:white;
       font-size: 15px;
    }
}
.student{
    background-color: rgb(235, 101, 23);
    height: 80px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    div h5{
        color:white;
        font-size: 30px;
        font-weight: bolder;
        white-space: nowrap;

    }
    p{
        color:white;
       font-size: 15px;
    }
}

